<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<% if current_user.id == @question.user_id%>
  <%= button_to "Delete question", question_path(@question), method: :delete %>
<%end%>

<h2>Answers</h2>
<% @question_answers.each do |answer| %>
  <hr>
  <p> <%=answer.created_at%> </p>
  <p> Approval: <%=answer.votes%> </p>
  <%= button_to question_answer_path([answer.question, answer], counter: :up, id: answer.id), method: :patch do %>
    <i class="fa-solid fa-thumbs-up"></i>
  <%end%>
  <%= button_to question_answer_path([answer.question, answer], counter: :down, id: answer.id), method: :patch do %>
    <i class="fa-solid fa-thumbs-down"></i>
  <%end%>
  <p>
    <strong><%= answer.user.email %>:</strong>
    <%= answer.body %>
    <% if current_user.id == answer.user_id%>
      <%= button_to "Delete", [answer.question, answer], method: :delete %>
    <%end%>
  </p>
  </hr>
<% end %>

<%= form_with model: [ @question, @question.answers.build ] do |form| %>
  <p>
    <%= form.label 'Answer' %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Submit answer" %>
  </p>
<% end %>
